<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Dubbing Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <center><h1>Video Dubbing Platform</h1></center>
    <p>Paste your YouTube video link here and select your target language you want to dub it into. Our AI-powered system will generate a naturally dubbed version in your chosen language.</p>
    <div class="container">
        <div class="ytDownload" style="margin-bottom: 20px;">
            <h3>YouTube Video Link</h3>
            <label for="downloadYTLink" class="downloadBox">
                <form action="#" id="downloadForm">
                    <input type="search" id="downloadYTLink" placeholder=" Paste the YouTube video link..." required>
                    <button type="submit" id="startDubbing">Start Dubbing Process</button>
                </form>
            </label>
        </div>
        <p id="status" style="margin-bottom: 20px;"></p>
        <h3>Select Dubbing Language</h3>
        <div class="selectLanguage">
            <select name="targetLanguage" id="tarLang">
                <option value="English"> Target Language </option>
                <option value="Arabic">Arabic</option>
                <option value="Bengali">Bengali</option>
                <option value="Bhojpuri">Bhojpuri</option>
                <option value="Chinese">Chinese</option>
                <option value="English">English</option>
                <option value="French">French</option>
                <option value="German">German</option>
                <option value="Gujarati">Gujarati</option>
                <option value="Hindi">Hindi</option>
                <option value="Japanese">Japanese</option>
                <option value="Kannada">Kannada</option>
                <option value="Korean">Korean</option>
                <option value="Malayalam">Malayalam</option>
                <option value="Marathi">Marathi</option>
                <option value="Portuguese">Portuguese</option>
                <option value="Russian">Russian</option>
                <option value="Spanish">Spanish</option>
                <option value="Tamil">Tamil</option>
                <option value="Telugu">Telugu</option>
            </select>
        </div>
        <h3>Source video</h3>
        <div class="uploadBox">
            <div class="displayUploadedVideo">
                <iframe id="videoFrame" width="90%" height="500" style="display: none;" src="#" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="genetratedSourceText">
                <div>
                    <h3 style="color: #bbb;">Audio Transcribe Text</h3>
                    <button id="toggleShow">Show</button>
                </div>
                <p id="transcribeText">Not generated yet!</p>
            </div>
        </div>
        <div class="dubbedResult">
            <div class="genetratedSourceText" style="margin-bottom: 20px;">
                <div>
                    <h3 style="color: #bbb;">Translated Text</h3>
                    <button id="toggleShowBtn">Show</button>
                </div>
                <p id="translatedText">Not translated yet!</p>
            </div>
            <h2>Dubbing Results</h2>
            <div class="tabs">
                <div id="previewTab" class="tab active">Preview</div>
                <div id="compareTab" class="tab">Compare</div>
            </div>
            <div id="outputVideoOnly">
                <iframe id="dubbedVideoDisplay" src="#" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div id="compareVideo" style="display:none;">
                <div>
                    <h4>Original Video</h4>
                    <div>
                        <iframe id="originalVideoCompare" src="#" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div>
                    <h4>Dubbed Video</h4>
                    <div>
                        <iframe id="dubbedVideoCompare" src="#" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <a id="downloadLink" type="button" href="#" download>Download</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
